@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

#app {
  font-family: Mulish, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}
//base
@import "base/reset";

//abstract
@import "abstract/_variables";
@import "abstract/_mixins";

//pages
@import "pages/_login-page";
@import "pages/_about-page";
@import "pages/_home-page";
@import "pages/deck-list-page";
@import "pages/deck-details-page";

//components
@import "components/deck-component";
@import "components/flashcard-component";
